body{background: #FFF4DE;height:100%;font-family:LyonDisplay, Georgia, serif;margin:0px;padding:0px;margin-top:60px}
.mgt20{margin-top:20px;}
.f10{font-size: 10px;}
.f15{font-size: 15px;}
.f20{font-size: 20px;}
.f25{font-size: 25px;}
.f30{font-size: 30px;}
.f50{font-size: 50px;}
.f100{font-size: 100px;}
.fr{float:right;}
.fl{float:left;}
.cl{clear: both;}


a{color:#000; text-decoration:none;font-weight: bolder;}
a:link{ color:#000; text-decoration:none;}
a:visited{ color:#000; text-decoration:none;}
a:hover{ color:#777; text-decoration:underline;}
a:actived{ color:#000; text-decoration:none;}

img.bighead{width:40px;height:40px;margin: 5px;}
div.header{background: #FFF4DE;background-image:none;height:50px;display:block;width:100%;margin-right:auto;margin-left:auto;border-bottom:#dFd4bE 1px solid;position:fixed;top:0}
div.header a{display:block;}
div.header a.button:hover{background:#dFd4bE}
div.container{
	background-image:none;height:100%;display:block;width:980px;margin-right:auto;margin-left:auto;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
	word-wrap:break-word;/*支持IE，chrome，FF*/
}

a.button-weibo span{background:url(../images/button.png) no-repeat 0px 0px;display:block;width:50px;height:50px;}
a.button-weibo:hover span{background:url(../images/button.png) no-repeat -50px 0px;}
a.button-weibo.current{background:#dFd4bE;}
a.button-weibo.current span{background:url(../images/button.png) no-repeat -100px 0px;}

a.button-git span{background:url(../images/button.png) no-repeat 0px -50px;display:block;width:50px;height:50px;}
a.button-git:hover span{background:url(../images/button.png) no-repeat -50px -50px;}
a.button-git.current{background:#dFd4bE;}
a.button-git.current span{background:url(../images/button.png) no-repeat -100px -50px;}

a.button-menu span{background:url(../images/button.png) no-repeat 0px -250px;display:block;width:50px;height:50px;}
a.button-menu:hover span{background:url(../images/button.png) no-repeat -50px -250px;}
a.button-menu.current{background:#dFd4bE;}
a.button-menu.current span{background:url(../images/button.png) no-repeat -100px -250px;}

div.bottom{background: #FFF4DE;background-image:none;height:20px;display:block;width:100%;margin-right:auto;margin-left:auto;border-top:#dFd4bE 1px solid;}
div.bottom div.container a,div.bottom .container span{color:#dFd4bE}

div.weibolist{width:100%;-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
div.weiboItem{background:#eFe4aE;display:inline-block;margin:2%;}
div.weiboItem a.link{background:#dFd4bE;border:1px solid #bFb4bE;color:#7F747E;display:inline-block;width:auto;padding:1px;margin:3px;cursor:pointer;font-size: 0.8rem;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
div.weiboItem a.link:hover{border:1px solid #7F747E;text-decoration:none;}
div.weiboItem a.huati{background:#b9b9FF;border:1px solid #59999F;color:#39599F !important;display:inline-block;width:auto;padding:1px;margin:3px;cursor:pointer;font-size: 0.8rem;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
div.weiboItem a.huati:hover{border:1px solid #39595F;text-decoration:none;}
div.weiboItem a.at{background:#d9FFd9;border:1px solid #79bF79;color:#59bF59 !important;display:inline-block;width:auto;padding:1px;margin:3px;cursor:pointer;font-size: 0.8rem;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
div.weiboItem a.at:hover{border:1px solid #395F59;text-decoration:none;}
div.weiboUser{width:100%;background:#dFd4bE;padding-top:5px;padding-bottom:5px}
div.weiboUser a{padding-left:5px;}
div.weiboContent div{margin:5px 10px 5px 10px;}
div.weiboImages img{margin-left:4%; width:27%;margin-top:10px}
div.weiboFunction span{color:#aFa48E;float:right;margin:5px}
div.weiboFunction span.fl{color:#aFa48E;float:left;margin:5px;}
div.weiboFunction span a{color:#aFa48E !important;float:left;margin:5px;}


div.publicBlogFunction{border-bottom:1px solid #dFd4bE;height:50px}
div.publicBlogFunction span.button{background:#dFd4bE;border:1px solid #bFb4bE;color:#7F747E;display:inline-block;width:auto;padding:5px 10px 5px 10px;cursor:pointer;font-size: 1.2rem;-webkit-border-radius: 4px;-moz-border-radius: 4px;}


div.blogItem {padding:0px 0 0px 0;vertical-align: center;}
div.blogItem:not(:last-child){border-bottom:1px solid #dFd4bE}
div.blogItem div.blogtitle{margin:10px 0 10px 0}
div.blogItem div.blogtitle h1{display:inline;}
div.blogItem div.blogtitle span.time{margin:0px 10px 0px 10px}
div.blogItem a.flag{background:#dFd4bE;border:1px solid #bFb4bE;color:#7F747E;display:inline-block;width:auto;padding:1px 3px 1px 3px;margin:0px 10px 0 0;cursor:pointer;font-size: 1rem;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
div.blogItem a.flag.red{background:red;color:#FFF;border-color: #664444;}
div.blogFunction{padding:5px 0 5px 0;height:30px}
div.blogFunction a.flag{display:none}
div.blogItem:hover div.blogFunction a.flag{display:block}

div.blogeditor {display:inline-block;width:48%;}
div.blogeditor textarea{background: #ccc;height:600px}

div.markdownview {margin-left:30px;display:inline-block;width:48%;height:100%;}
div.markdownview div{width :100%;height:600px;overflow-y:scroll;}

input.button{display:inline-block;height:30px;border:none;margin:5px;padding:5px;cursor:pointer}
input.button:hover{color:yellow}
input.button.ok{background-color:#02bb00;color:white;width:100px}
input.button.cancel{background-color:#f25561;color:white;width:70px;}


a.button-menu{display:none !important;}

/*竖屏*/
@media (min-width: 321px) and (max-width:979px){
	div.container{width:100%}
	div.publicBlogFunction{display:none}
	body{margin-top:90px}
	div.header div.navi{position:fixed;left:0;top:50px;width:100%;background:#dFd4bE;}
	div.header div.navi a{margin:10px}
	div.weibolist{width:100%;-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
	@media (max-width:600px) {
		div.weibolist{width:100%;-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
	}
}

/*横屏*/
@media (orientation:landscape) and (min-width: 321px) and (max-width:979px){
	div.container{display:block;}
	div.publicBlogFunction{display:block}
	body{margin-top:0px}
	
	div.container{padding-top:50px;padding-left:60px;width:auto;}
	
	div.header {border:none;height:40px;}
	div.header div.container,div.bottom div.container{padding-top:0px;padding-left:0px;}
	div.header div.menu{position:fixed:left:0px;top:0;display:block;width:50px;height:1000px;border-right:1px #dFd4bE solid;background:#FFF4DE}
	div.header div.navi{position:fixed;left:0;top:0px;width:100%;margin-left:50px;background:#dFd4bE;}
	div.header div.navi a{margin:10px}
	
	div.bottom{padding-left:60px;width:auto}
	@media (max-width:600px) {
		div.weibolist{width:100%;-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
	}
}

/*超窄*/
@media (max-width:320px){
	div.container{width:100%}
	div.publicBlogFunction{display:none}
		
	body{margin-top:90px}
	div.header div.navi{position:fixed;left:0;top:50px;width:100%;background:#dFd4bE;}
	div.header div.navi a{margin:10px;}
	a.button{display:none !important;}
	a.button-menu{display:block !important;}
	div.weibolist{width:100%;-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
}