<?xml version="1.0" encoding="UTF-8" ?>     
<!DOCTYPE mapper PUBLIC 
"-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.nzcong.blog.dao.BlogDao">
	<sql id="select">
		SELECT *
	</sql>
	<!-- 用户添加 -->
	<insert id="addBlog" parameterType="cn.nzcong.blog.model.Blog">
		INSERT INTO blog(
		Id, CatagoryId, Title, Text, Type,
		Top, Updatetime, Addtime)
		VALUES(
		'${id}', '${catagoryId}', '${title}', '${text}', '${type}',
		'${top}', now(), now()
		)
	</insert>

	<update id="updateBlog" parameterType="cn.nzcong.blog.model.Blog">
		UPDATE blog
		<set>
			CatagoryId = #{catagoryId},
			Title = #{title},
			Text = #{text},
			Type = #{type},
			Top = #{top},
			Updatetime = #{updateTime},
		</set>
		WHERE Id = #{id}
	</update>

	<select id="searchBlogsCount">
		<include refid="select" />
		from blog
		<where>
			<if test="param.id != null and param.userId !=''">
				AND Id = #{param.id}
			</if> 
			<if test="param.catagoryId != null and param.catagoryId !=''">
				AND CatagoryId = #{param.catagoryId}
			</if> 
			<if test="param.type != null and param.type !=''">
				AND Type = #{param.type}
			</if> 
			<if test="param.updateTimeStart != null and param.updateTimeStart !=''">
				AND Updatetime > #{param.updateTimeStart}
			</if> 
			<if test="param.updateTimeEnd != null and param.updateTimeEnd !=''">
				AND Updatetime &lt; #{param.updateTimeEnd}
			</if> 
			<if test="param.addTimeStart != null and param.addTimeStart !=''">
				AND Updatetime > #{param.updateTimeStart}
			</if> 
			<if test="param.addTimeEnd != null and param.addTimeEnd !=''">
				AND Addtime &lt; #{param.addTimeEnd}
			</if> 
		</where>
	</select>

	<select id="searchBlogs">
		<include refid="select" />
		from blog
		<where>
			<if test="param.id != null and param.userId !=''">
				AND Id = #{param.id}
			</if> 
			<if test="param.catagoryId != null and param.catagoryId !=''">
				AND CatagoryId = #{param.catagoryId}
			</if> 
			<if test="param.type != null and param.type !=''">
				AND Type = #{param.type}
			</if> 
			<if test="param.updateTimeStart != null and param.updateTimeStart !=''">
				AND Updatetime > #{param.updateTimeStart}
			</if> 
			<if test="param.updateTimeEnd != null and param.updateTimeEnd !=''">
				AND Updatetime &lt; #{param.updateTimeEnd}
			</if> 
			<if test="param.addTimeStart != null and param.addTimeStart !=''">
				AND Updatetime > #{param.updateTimeStart}
			</if> 
			<if test="param.addTimeEnd != null and param.addTimeEnd !=''">
				AND Addtime &lt; #{param.addTimeEnd}
			</if> 
		</where>
		order by Updatetime desc
	</select>

</mapper>